<?xml version="1.0" encoding="utf-8"?>
<!-- http://sharepoint/sites/corext/LivingDocs/Corext.config.aspx -->

<corext cacheRoot="%NugetMachineInstallRoot%" generationRoot="%PackageAddressGenDir%" userExtensions="%CorextUserExtensions%">

  <repositories>
    <repo name="CoreXT" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CoreXTMirror/nuget/index.json" fallback="http://wanuget/CoreXTMirror/nuget" />
    <repo name="Toolset" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Toolset/nuget/index.json" fallback="http://wanuget/Toolset/nuget" />
    <repo name="NugetOrg" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/NugetMirror/nuget/index.json" fallback="http://wanuget/NugetMirror/nuget" />
    <repo name="MSNuget" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MSNugetMirror/nuget/index.json" fallback="http://wanuget/MSNugetMirror/nuget" />
    <repo name="OSS" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS/nuget/index.json" fallback="http://wanuget/OSS/nuget" />
    <repo name="Official" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Official/nuget/index.json" fallback="http://wanuget/Official/nuget" />
    <repo name="Manual" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ManualMirror/nuget/index.json" fallback="http://wanuget/ManualMirror/nuget" />
  </repositories>

  <packages>

    <!-- SourceControl -->
    <package id="Corext.SourceControl.Git" version="1.0.0" />

    <!-- CoreXT -->
    <package id="Corext.Rewind" version="1.0.1" />
    <package id="Corext.Legacy.PreEnv" version="1.0.2" />
    <package id="Corext.Extras" version="1.0.3" />
    <package id="Corext.Aliases" version="1.0.5" />
    <package id="Corext.Build" version="1.2.7" />
    <package id="Corext.Tools" version="3.0.1" />
    <package id="Corext.Support" version="1.0.0" />

    <!-- OneBranch Init -->
    <package id="OneBranch.Init" version="1.0.1" allowedVersions="[1,2)" /> <!-- Combination of OneBranch root init.cmd and myenv.cmd -->
    <package id="OneBranch.Argo" version="1.0.0" allowedVersions="[1,2)" /> <!-- Code changes + init.cmd -->

    <!-- OneBranch: Required AutoUpgrade Packages -->    
    <package id="TipOfTheDay.OneBranch" version="1.0.3" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="LocalSigning" version="1.0.47.5" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="CodeSign.AD" version="1.0.20" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="OneBranch.GitHooks" version="1.0.12" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="BuildReq" version="1.0.44.0" allowedVersions="[1,2)" autoUpgrade="true" />
    
    <!-- OneBranch Environment: BuildTools -->
    <package id="Corext.Build.OneBranch" version="1.0.0" allowedVersions="[1,2)" />
    <package id="CorextPath1st.OneBranch" version="1.0.2" allowedVersions="[1,2)" />
    <package id="GenerateVersions.OneBranch" version="1.0.3-pre1" /> <!-- Self contained beaver -->
    <package id="CoreTargets.OneBranch" version="1.0.49" allowedVersions="[1,2)" /> <!-- Disable Git commands in CloudBuild -->
    <package id="BuildTypes.GitCorext" version="1.0.0" allowedVersions="[1,2)" />
    <package id="Aliases.Core" version="1.0.4" allowedVersions="[1,2)" />
    <package id="AD.BuildIndexer" version="1.0.425.0" />
    <package id="NuProj" version="1.0.30" allowedVersions="[1,2)" />
    <package id="BuildManifest" version="1.0.17.8" />
    <package id="PublishSymbols.OneBranch" version="1.0.4" allowedVersions="[1,2)" />
    <package id="Powershell.Corext" version="2.0.0" />
    <package id="BCDT.amd64" version="1.0.17.8" />
    <package id="Microsoft.OneBranch.Tasks" version="1.0.34.0" allowedVersions="[1,2)" />
    <package id="Perl.Corext" version="5.10.0.2" /> <!-- Required for the build shim in Corext.Build, new package exports itself to path -->
    <package id="RazzleBuildTools.Corext" version="2.2.0" /> <!-- This version will add itself to path -->
    <package id="PostBuild.OneBranch" version="1.0.0" allowedVersions="[1,2)" />
    <package id="NuGet.CommandLine" version="3.3.0" /> <!-- Packages should call NuGet from this package -->

    <!-- OneBranch Environment: DevTools -->
    <package id="MsBuildShim.OneBranch" version="2.1.1" allowedVersions="[2,3)" /> <!-- Add logic to redirect to Corext.Build build shim if quickbuild -->
    <package id="StyleCop.MSBuild" version="4.7.49.0" />
    <package id="VisualStudio.StaticAnalysisTools.Corext" version="14.0.23107.2" />
    <package id="VsMsBuild.Corext" version="3.0.3" />
    <package id="MsBuild.Corext" version="14.0.23107.8" />
    <package id="MsBuild.Wrap.Corext" version="1.0.15" />
    <package id="UpdatePackages" version="1.0.35.0" allowedVersions="[1,2)" />

    <!-- OneBranch Environment: SdlTools -->
    <package id="OACR.CoreXT" version="3.6.40130.1" />
    <package id="OACR.CoreXT.Exclusions" version="3.6.30318.11" />
    <package id="OACR.OnCorext" version="1.0.1" /> <!-- Replaces the init stuff that was in the old myenv -->
    <package id="OACR.Wrap.Corext" version="1.0.2" />
    <package id="ApiScanTool" version="0.0.35" />
    <package id="BinScope" version="0.0.32" />
    <package id="CredScanner" version="0.0.23" />
    <package id="HardcodedStringScanner" version="0.0.16" />
    <package id="PoliCheck" version="5.6.0.8" />

    <!-- OneBranch Environment: LocTools -->
    <package id="Localization" version="2.0.14" />
    <package id="LBA.Corext" version="5.5.1031.4" />
    <package id="LSBuild.Corext" version="6.12.4929.2" />

    <!-- OneBranch Environment: BuildToolsForQ -->
    <package id="Quickbuild.OnCorext" version="2.0.1" /> <!-- New major release does not include build shim, needs Corext.Build -->
    <package id="CloudVaultWaesForQ.OneBranch" version="1.0.14" allowedVersions="[1,2)" />
    <package id="CloudVaultClient" version="2.2.0.17" />
    <package id="AzValidClient" version="1.0.2" />

    <!-- OneBranch Environment: ManagedCode -->
    <package id="DotNetCoreRefAssemblies.Corext" version="4.0.30319" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.0.0" /> <!-- .net 4.0 -->
    <package id="DotNetFxRefAssemblies.Corext" version="4.0.30319" /> <!-- .net 4.5 -->
    <package id="DotNetFxRefAssemblies.Corext" version="4.5.1.1" allMacros="true" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.6.0" allMacros="true" />
    <package id="DotNetFxTools.Corext" version="4.5.0" />
    <package id="DotNetFxGAC.Corext" version="4.5.4" />

    <!-- Test Tools Imports -->
    <package id="MsTest.Corext" version="10.0.0" />
    <package id="TAEF.amd64" version="4.0" />
    <package id="TAEF.x86" version="4.0" />
    <package id="WAES" version="1.0.34" />
    <package id="VisualStudio.UnitTest.Corext" version="14.0.0" />

    <!-- Azure -->
    <package id="Azure.Corext" version="2.4.0" />

    <!-- Cpp -->
    <package id="VisualCpp.Corext" version="12.0.31101.1" />
    <package id="VisualCpp.MultiProc.Corext" version="12.0.31101.0" />
    <package id="VisualCpp.OnCorext" version="1.0.0" />
    <package id="WindowsSdk.Corext" version="6.3.9600.6" />
    <package id="WindowsSdk.OnCorext" version="1.0.0" />

    <!-- Sample Projects -->
    <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" />
    <package id="Newtonsoft.Json" version="6.0.3" />
    <package id="Microsoft.Data.Edm" version="5.7.0" />
    <package id="Microsoft.Data.OData" version="5.7.0" />
    <package id="Microsoft.Data.Services.Client" version="5.7.0" />
    <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" />
    <package id="WindowsAzure.Storage" version="6.2.0" />
    <package id="Newtonsoft.Json" version="7.0.1" />
    <package id="System.Spatial" version="5.7.0" />
    
    <!-- New -->
    <package id="Microsoft.Rest.ClientRuntime" version="2.0.1" />
    <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.0.2" />
    
  </packages>

  <!-- Scenarios are for grouping, as well as coordinating a version param with a package.  This will be simplified in the future -->
  <scenarios />

  <generator>
    <!--
      * init.cmd environment initialization, used by CmdAddressFileGenerator
      * @id            : [required] Id to lookup
      * @version       : [optional] partial version to match in lookup (cannot be used with scenario*)
      * @scenario      : [optional] scenario to find for the given id (requires scenarioValue, cannot be used with version)
      * @scenarioValue : [optional] value to match for the given (required) scenario
      * @as            : [optional] semicolon delimited environment variable names for the package Path.  Default is Pkg[id].
      * @versionAs     : [optional] semicolon delimited environment variable names for the package Version.  Not set by default.
    -->
    <section name="init" type="Corext.Config.InitPackageSection,Corext">
      <!-- Environment Tools Imports -->
      <package id="Corext.Tools" as="CoreXTTools" />
      <package id="Azure.Corext" as="PkgAzure_Corext" />
      <package id="Corext.Build" />
      
      <!-- BuildTools.OneBranch -->
      <package id="CorextPath1st.OneBranch" />
      <package id="GenerateVersions.OneBranch" as="COREXT_VERSION_FORMAT_PATH" />
      <package id="CoreTargets.OneBranch" as="CustomExtendedTargetsPath" />
      <package id="BuildTypes.GitCorext" />
      <package id="Aliases.Core" />
      <package id="OneBranch.Argo" as="Argo" />
      <package id="AD.BuildIndexer" as="BuildIndexer" />
      <package id="BuildReq" as="BuildReq" />
      <package id="PublishSymbols.OneBranch" />
      <package id="Powershell.Corext" />
      <package id="BCDT.amd64" as="OneBranchBCDTPath" />
      <package id="Microsoft.OneBranch.Tasks" as="OneBranchTaskPath" />
      <package id="Perl.Corext" />
      <package id="RazzleBuildTools.Corext" as="RAZZLETOOLPATH;NTMAKEENV" />
      <package id="PostBuild.OneBranch" />
      <package id="Quickbuild.OnCorext" />
      
      <!-- DevTools.OneBranch -->
      <package id="StyleCop.MSBuild" />
      
      <!-- SdlTools.OneBranch -->
      <package id="OACR.Corext" />
      <package id="OACR.Corext.Exclusions" />
      <package id="OACR.Wrap.Corext" />
      <package id="BinScope" />
      <package id="ApiScanTool" />
      <package id="CredScanner" />
      <package id="HardcodedStringScanner" />
      <package id="PoliCheck" />
      
      <!-- LocTools.OneBranch -->
      <package id="LsBuild.Corext" />
      <package id="LsBuild.Corext" version="6.12" as="PkgLsBuild_Corext_6_12" />
      
      <!-- ManagedCode -->
      <package id="DotNetFxGAC.Corext" />
      
      <!-- NuGet packaging -->
      <package id="NuGet.CommandLine" />
    </section>
  </generator>

</corext>
