<!--
***********************************************************************************************
    Repository Configuration 

    Initial settings and repository wide configuration for entry points and common data
    Used to defined everything from name to publishing packages per each repository
    
    Copyright (C) Microsoft Corporation. All rights reserved.
***********************************************************************************************
-->

<Repository>
  <!-- Common settings -->
  <Name>Templates-CoreXT5</Name>
  <Description>CoreXT v5 template for OneBranch</Description>
  
  <!-- Path is sometimes used by build drop -->
  <Path>Toolsets</Path>
  <Owners>wabuild</Owners>

  <!-- Precheckin validation -->
  <CodeReviewEmailTo>wabuild</CodeReviewEmailTo>
  <DevPackagePublishServer>\\wanuget\NugetPackages\Dev</DevPackagePublishServer>

  <!-- Official build configuration | email aliases must contain @microsoft.com | separate multiple emails by comma -->
  <BuildEmailTo>wabuild@microsoft.com</BuildEmailTo>
  <OfficialPackagePublishServer>\\wanuget\NugetPackages\Dev</OfficialPackagePublishServer>

  <!-- Name of the CloudBuild Queue for branch -->
  <Q>
    <QueueName>CDP_Template-CoreXT5</QueueName>
  </Q>

  <!-- Official/Buddy defaultBuildSystem options: Jenkins, BuildTracker -->
  <OfficialBuild defaultBuildSystem="BuildTracker" />
  <BuddyBuild defaultBuildSystem="BuildTracker" />
  
  <!-- Separate multiple emails by semicolon -->
  <!--<CodeReview>
    <RequiredReviewers>willbar</RequiredReviewers>
    <OptionalReviewers>magitbldsup</OptionalReviewers>
  </CodeReview>-->

  <!-- Trust Services Automation (TSA) for SDL log processing -->
  <!--<TSA>
    <Notification>warmdev@microsoft.com</Notification>
    <AreaPath>One\EngSys\WARM</AreaPath>
    <UsePPE>false</UsePPE>
    <ToolsOptOut>BinScope;APIScan;PoliCheck;FxCop</ToolsOptOut>
  </TSA>-->
</Repository>
