<?xml version="1.0" encoding="utf-8"?>
<corext cacheRoot="%NugetMachineInstallRoot%">
  <repositories>
    <repo name="Toolset" uri="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Toolset/nuget/index.json" fallback="http://wanuget/Toolset/nuget" />
  </repositories>
  <packages>
    <package id="ResolveCorextConfig" version="1.0.34.0" allowedVersions="[1,2)" autoUpgrade="true" />
  </packages>
  <scenarios />
  <generator />
</corext>